@import "../../../../styles.scss";

@media (prefers-color-scheme: dark) {
  .main-container {
    background-color: $bgDark;
    color: $offWhite;
    padding-top: 5rem; // ensure dashboard is under nav.
  }
}
