<div class="floating-btn" (click)="openCreateWorkoutModal()">
  <i class="fa-solid fa-plus fa-2x"></i>
</div>
<div>
  @for (activity of activites(); track $index) {
  <year [YearActivity]="activity" />
  }
  <div
    class="workout-details-container"
    [ngClass]="{ active: selectedWorkoutsService.selectedWorkouts }"
  >
    <workout-details
      (reloadPage)="handleDeleteReload($event)"
      [workouts]="selectedWorkoutsService.selectedWorkouts!"
    />
  </div>
</div>

<ng-template #createWorkoutConfig>
  <create-update-workout (reloadPage)="handlePageRefresh()" />
</ng-template>
