.floating-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  color: white;
  background-color: #21252b;
  box-shadow: 0 1px 1px #21252b68, 0 2px 2px #21252b68, 0 4px 4px #21252b68,
    0 6px 8px #21252b68, 0 8px 16px #21252b68;
  transition: 250ms;
  cursor: pointer;
}

.floating-btn:hover {
  box-shadow: 10px 10px 10px #21252b68, 0 2px 2px #21252b68, 0 4px 4px #21252b68,
    0 6px 8px #21252b68, 0 8px 16px #21252b68;
}

i {
  transition: rotate 250ms;
}
i:hover {
  rotate: 90deg;
}

.workout-details-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms ease-in, opacity 250ms ease-in;
}

.workout-details-container.active {
  transform: translateY(0%);
  opacity: 1;
  z-index: 10;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .workout-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateX(100%);
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    height: 100%;
    width: 50%;
  }

  .workout-details-container.active {
    transform: translateX(0);
  }
}

@media (min-width: 1200px) {
  .workout-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateX(100%);
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    height: 100%;
    width: 50%;
  }

  .workout-details-container.active {
    transform: translateX(0);
  }
}
