<!-- Need to rework this component -->

<div class="card" id="workout-details">
  <button (click)="closeWorkoutDetails()" class="close-btn">
    <i class="fa-solid fa-xmark"></i>
  </button>

  @for (workout of workouts(); track $index) { @if (workout.workoutConfig; as
  config) {
  <h1>Workout {{ $index + 1 }}</h1>

  <div class="d-flex align-items-center justify-content-between">
    <div>{{ workout.date | date : "MMM d, y, h:mm a" }}</div>
  </div>
  <button (click)="handleEditWorkout(workout)" class="btn btn-secondary">
    Edit
  </button>
  <button (click)="handleDeleteWorkout(workout._id)" class="btn btn-danger">
    Delete
  </button>

  @if (config.weight) {
  <workout-details-tab
    [info]="{
      icon: 'fa-weight-scale',
      title: 'Weight',
      data: config.weight,
      measurement: 'lbs'
    }"
  />

  } @if (config.workoutType) {
  <workout-details-tab
    [info]="{
      icon: 'fa-dumbbell',
      title: 'Workout Type',
      data: config.workoutType,
      measurement: ''
    }"
  />
  } @if (config.caloriePhase) {
  <workout-details-tab
    [info]="{
      icon: 'fa-utensils',
      title: 'Calorie Phase',
      data: config.caloriePhase,
      measurement: ''
    }"
  />
  } @if (config.bicepSize) {
  <workout-details-tab
    [info]="{
      icon: 'fa-hand-fist',
      title: 'Bicep Size',
      data: config.bicepSize,
      measurement: 'cm'
    }"
  />
  } @if (config.waistSize) {
  <workout-details-tab
    [info]="{
      icon: 'fa-hand-fist',
      title: 'Waist Size',
      data: config.waistSize,
      measurement: 'cm'
    }"
  />
  } @if (config.calfSize) {
  <workout-details-tab
    [info]="{
      icon: 'fa-hand-fist',
      title: 'Calf Size',
      data: config.calfSize,
      measurement: 'cm'
    }"
  />
  } @if (config.forearmSize) {
  <workout-details-tab
    [info]="{
      icon: 'fa-hand-fist',
      title: 'Bicep Size',
      data: config.forearmSize,
      measurement: 'cm'
    }"
  />
  } @if (config.thighSize) {
  <workout-details-tab
    [info]="{
      icon: 'fa-hand-fist',
      title: 'Thigh Size',
      data: config.thighSize,
      measurement: 'cm'
    }"
  />
  } } }
</div>

<ng-template #editWorkoutConfig>
  @if (workoutToEdit(); as workoutToEdit;) {
  <create-update-workout
    [workoutToEdit]="workoutToEdit"
    (reloadPage)="handlePageRefresh()"
  />
  }
</ng-template>
