<h4>{{ monthActivity().month }}</h4>
<div class="month-container">
  @for (workout of monthActivity().workouts; track $index) {
  <day [workout]="workout" />
  }
</div>
<!-- should show week days 
 each day should take in a workoutSession or null
 null representing any missed workouts 
 
 we can do an aggregation on the backend and fill in any missing 
 workouts with a blank date
 
 data: [
  {
    year: 2024,
    months: [
        january: [
          {
            date: 02/01/2024
            workoutConfig: null
          }
          {
            date: 02/01/2024
            workoutConfig: {
              weight: 175 (store in lbs),
              workoutType: Push (could use an enum here),
              caloriePhase: Cut (enum of cut, bulk, maintain)
            }
          }
        ]
      ]
  }
 ]
 -->
