<div class="month-container">
  <div>
    <h4>{{ monthActivity().month | monthFromNumber }}</h4>
    <div class="calendar">
      <div class="weekdays">
        @for (day of ['S', 'M', 'T', 'W', 'T', 'F', 'S']; track $index) {
        <span>{{ day }}</span>
        }
      </div>

      <div class="weeks">
        @for (week of calendarGrid; track $index) {
        <div class="week">
          @for (workout of week; track $index) { @if (workout) {
          <day [workout]="workout" />
          } @else {
          <div class="day empty"></div>
          } }
        </div>
        }
      </div>
    </div>
  </div>
</div>
