@import "../../../../../styles.scss";

.measurements-container.activeMeasurements {
  height: 26rem;
  overflow: auto;
}
.measurements-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 0rem;
  overflow: hidden;
  transition: height 300ms ease-in;
}

.measurements-container.hideContainer {
  height: 0rem;
  overflow: hidden;
}

h4 {
  cursor: pointer;
}

i {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .modal-body,
  .modal-header,
  .modal-footer {
    background-color: $lightGrey;

    color: $offWhite;

    input,
    select {
      background-color: $lightGrey;
      color: $offWhite;
    }
    input::placeholder {
      color: $placeHolderOffWhite;
    }
  }
}
