.floating-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  z-index: 10;
  cursor: pointer;
  transition: box-shadow 250ms;

  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  background-color: #21252b;
  color: white;
  box-shadow: 0 1px 1px #4c4c4c, 0 2px 2px #4c4c4c, 0 4px 4px #4c4c4c,
    0 6px 8px #4c4c4c, 0 8px 16px #4c4c4c;
}

.floating-btn:hover {
  box-shadow: 10px 10px 10px #4c4c4c, 0 2px 2px #4c4c4c, 0 4px 4px #4c4c4c,
    0 6px 8px #4c4c4c, 0 8px 16px #4c4c4c;
}
