@import "bootstrap/scss/bootstrap-grid";
@import "@fortawesome/fontawesome-free/css/all.css";
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

$primary: #21252b;
$lightGrey: rgb(23, 26, 34);
$bgDark: rgb(13, 17, 22);
$offWhite: rgb(212, 212, 212);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
