@import "bootstrap/scss/bootstrap-grid";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap/scss/bootstrap";

$primary: #21252b;
$lightGrey: rgb(23, 26, 34);
$lightestGrey: rgb(176, 180, 191);
$bgDark: rgb(13, 17, 22);
$offWhite: rgb(212, 212, 212);
$placeHolderOffWhite: rgb(159, 157, 157);
$dangerRed: #b00000;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}
